.btn{
	font-size: 16px;
	padding-top: 11px;
	padding-bottom: 11px;
	font-weight: bold;
	@include media-breakpoint-down(md) {
		font-size: 14px;
		padding-top: 6px;
		padding-bottom: 7px;
	}
}
.btn_lg{
	padding-top: 15px;
	padding-bottom: 15px;
	@include media-breakpoint-down(md) {
		padding-top: 10px;
		padding-bottom: 11px;
	}
}
.btn_sm{
	padding-top: 7px;
	padding-bottom: 7px;
	@include media-breakpoint-down(md) {
		padding-top: 4px;
		padding-bottom: 5px;
		&.btn-outline-secondary{
			font-weight: normal;
		}
	}
}
.btn-success{
	&:hover,&.disabled,&:disabled{
		background-color: rgba(theme-color("success"),.5);
		border-color: rgba(theme-color("success"),.01);
		opacity: 1;
	}
}
.btn-outline-secondary{
	&:hover,&.disabled,&:disabled{
		background-color: transparent;
		border-color: rgba(theme-color("secondary"),.5);
		color: rgba(theme-color("secondary"),.5);
		opacity: 1;
	}
}