@import
	'_custom_bootstrap_vatiables.scss',
	'../../bower_components/bootstrap/scss/_functions.scss',
	'../../bower_components/bootstrap/scss/_variables.scss',
	'../../bower_components/bootstrap/scss/_mixins.scss';
body{
	font-family: Arial, Helvetica, sans-serif;
	// font-size: 14px;
}
html,
body {
	height: 100%;
}
.mxw_700{
	max-width: 700px;
}
.wrapper{
	min-height: 100%;
	&.has_grad{
		background: linear-gradient(-135deg, #c850c0, #4158d0);
	}
}
.content_part{
	padding-bottom: 30px;
}
.minw_0{
	min-width: 0;
}
.container_xl{
	max-width: 1400px;
	margin-left: auto;
	margin-right: auto;
}